*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
:root{
    --var1 : #212922;
    --var2 : #5B8266;
    --var3 : #3E6259;
    --var4 : #AEF6C7;
    --var5 : #294936;
    --var6 : #FFFFFF;
}

body{
    background-color: var(--var1);
    color: var(--var6)
}
/* ---------------HEADER-------------------- */
header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    height:108px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--var1);
}

.logo{
    width: 300px;
    padding-left: -30px;
}
.btn{
    margin-right:22px;
   
}
button{
    width : 160px;
    height : 50px;
    background-color: var(--var3);
    border: 1px solid var(--var4);
    border-radius: 25px;
    font-size: 20px;
}
/* -----------------INTRO----------------- */

.intro{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--var5);
}
h1{
 font-size: 150px;
}
h2{
    text-align:center;
    font-size: 45px;
}

/* -----------------ARROW----------------- */
.arrow:before{
  position: absolute;
  left: 50%
}
.arrow{
    width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform:rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow
}
@keyframes arrow{
    0%{
    opacity: 1}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px)} 
}

.arrowCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--var5)
}
/* -----------------CORPS----------------- */
.corps {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    background-color: var(--var5);
    height: 300px;
    border: 8px inset var(--var4);
border-radius: 40px 0px 40px 0px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
p{
    text-align: center;
    flex-wrap: wrap;
    
}
h3{
    font-size:22px
}

/* -----------------FOOTER----------------- */
footer{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer a{
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }
.end{
    width: 40%;
}






/* -----------------SQUARE EFFECT----------------- */
.animation-area{
    z-index: 1;
}
.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: #aef6c75f;
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 20px;
  }
  .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
  }
  .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
  }
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  }
