*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
:root{
    --var1 : #212922;
    --var2 : #5B8266;
    --var3 : #3E6259;
    --var4 : #AEF6C7;
    --var5 : #294936;
    --var6 : #FFFFFF;
}

body{
    background-color: var(--var1);
    color: var(--var6)
}

.logo {
    width: 300px;
    padding-left: -30px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.corps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

}

::placeholder {
    color: var(--var6);
    font-size: 1.5em;
    padding-left: 20px;
  }
.identite{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.name{
    width: 40%;
    height: 50px;
    border-radius: 25px;
    background-color:var(--var2);
    color : var(--var6);
    border: #AEF6C7 solid 2px;
}
#email{
    width: 41%;
    height: 50px;
    border-radius: 25px;
    background-color:var(--var2);
    color : var(--var6);
    border: #AEF6C7 solid 2px;
}

#password{
    width: 20%;
    height: 50px;
    border-radius: 25px;
    background-color:var(--var2);
    color : var(--var6);
    border: #AEF6C7 solid 2px;
    margin-right: 315px;
}
button{
    width: 20%;
    height: 50px;
    border-radius: 25px;
    background-color:var(--var3);
    color : var(--var6);
    border: #AEF6C7 solid 2px;
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 315px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--var6);
    margin-top: 15px;
}

a{
    color: var(--var6)
}

@media all and (max-width: 800px){
    #password{
        margin-left:17%;
    }
    #subscribe{
        margin-right: 17%;
    }
  }

@media all and (max-width: 720px){
    .identite{
        flex-direction: column;

    }
    .name{
        width: 300px;
    }
    #password{
        margin-left: 43%;
        width : 300px
    }
    #email{
        width:300px;
    }
    #subscribe{
        width : 300px;
        margin-right: 43%;
    }
  }

  @media all and (max-width: 480px){
   
    #password{
        margin-left: 63%;
       
    }
   
    #subscribe{
       
        margin-right: 63%;
    }
  }

  @media all and (max-width: 390px){
    .name{
        width: 200px;
    }
    #password{
        margin-left: 84%;
        width : 200px
    }
    #email{
        width:200px;
    }
    #subscribe{
        width : 200px;
        margin-right: 84%;
    }
    .logo{
        width: 200px;
    }
  }