*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
:root{
    --var1 : #212922;
    --var2 : #5B8266;
    --var3 : #3E6259;
    --var4 : #AEF6C7;
    --var5 : #294936;
    --var6 : #FFFFFF;
}

body{
    background-color: var(--var1);
    color: var(--var6)
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.presentoire{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.corps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
::placeholder {
    color: var(--var6);
    font-size: 1.5em;
    padding-left: 20px;
  }

#link{
    width: 41%;
    height: 50px;
    border-radius: 25px;
    background-color:var(--var2);
    color : var(--var6);
    border: #AEF6C7 solid 2px;
    font-size: 1.5em;
}
button{
    width: 5%;
    height: 50px;
    border-radius: 25px;
    background-color:var(--var3);
    color : var(--var6);
    border: #AEF6C7 solid 2px;
    font-size: 1.5em;
}

.container{
  display: none;
  justify-content: center;
  align-items: center;
}
.loader{
  position: relative;
  display: grid;
  place-items: center;
  width: 80px;
  height:80px;
}
span{
  position: absolute;
  border: 6px solid white;
  border-radius: 50%;
  animation: ripple 1.8s ease-out infinite;
}
span:nth-child(2){
  animation-delay: -0.6s;
}
@keyframes ripple{
  from{
    opacity: 1;
    width: 0;
    height: 0;
  }
  to{
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.on{
  display: flex;
}

.off{
  display: none;
}

@media all and (max-width: 700px){
  .bibli{
    margin-right: 10%;
}
.logo{
  width: 70%;
}
.corps{
  flex-direction: column;
}
button{
  width:70px;
}
}